{% extends "master.html.twig" %}

{% block content %}

<h2>Attenace List</h2>

<a href="/childlist">Children list just for this teacher’s class</a><br>
<a href="/children_attenance">Children Attenance</a><br>
<a href="/childnotes">Children Notes</a><br>
{% endblock %}