{% extends "admin/master.html.twig" %}

{% block title %}Admin Board{% endblock %}

 {% block addHead %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
    $(document).ready(function() {
        $("#userlist").click(function(){
            window.location.href="/userlist.html";
        });
        $("#childrenlist").click(function(){
            window.location.href="/admin/childrenlist";
        });
        $("#attendance").click(function(){
            window.location.href="/admin/attendance";
        });
        $("#waitinglist").click(function(){
            window.location.href="/admin/waitinglist";
        });
        $("#home").click(function(){
            window.location.href="/";
        });
    });
 </script>
{% endblock %}

{% block content %}

<h2>Manager Account</h2>

<div><a href="/logout">Logout</a></div>

<div id="adminBoard">

<button class="button" id="userlist">User List</button>

<button class="button" id="childrenlist">Children List</button>

<button class="button" id="attendance">Children Attendance</button>

<button class="button" id="waitinglist">Waitinglist</button>

</div>

<button class="button" id="home">Go Back</button>

{% endblock %}